* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start body */

/* end body */

/* start header */

.navbar {
    align-items: center;
    justify-content: right;
    background-color: rgb(236, 236, 236);
}

#logo {
    font-size: 2rem;
    font-weight: 700;
    color: #3e8ed0;
}

.navbar-item {
    font-size: 1.3rem;
    font-weight: 700;
    color: #3e8ed0;
}

.navbar-item span {
    font-style: italic;
}

/* end header */

/* start search bar section */

/* end search bar section */

/* start map container */

#map {
    height: 500px;
    width: 100%;
}

#sh-title {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.hide-btn {
    display: none;
}
/* end map container */

/*start places list*/

#places-list img {
    max-height: 90%;
}

/*end places list*/

/* Start modal */

.modal-close {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: black;
}

.modal-content {
    display: flex;
    background-color: rgb(161, 192, 238);
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #3e8ed0;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

/* End modal */

/* start footer */

.footer p {
    font-size: 1.1rem;
    font-weight: 700;
    color: #3e8ed0;
}

.footer span {
    font-style: italic;
}

#team {
    font-size: 0.8rem;
}

/* end footer */