/* start body */

/* end body */

/* start header */

/* end header */

/* start form */

/* end form */

.button {
    margin: 10px 10px;
}

.is-link {
    margin-top: 0;
}

/* start results container */

.results {
    margin: 1rem;
    padding: 2rem 3rem;
    background-color: rgb(165, 165, 165);
}

.container {
    display: flex;
}

/* end results container */

/* Start modal */
.modal-close {
    position: absolute;
    right: 1px;
    top: 1px;
    background-color: black;
}

.modal-content {
    display: flex;
    background-color: rgb(161, 192, 238);
    width: 300px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #3e8ed0;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
/* End modal */

/* start footer */

.fixed-bottom {
    position: fixed;
    bottom: 0%;
    width: 100%;
}

/* end footer */